// .carousel-item {
//   height: calc(100vh - 16px);
//   color: #f4f4f4;
//   margin-bottom: 0;
//   border-radius: 25px 25px 55px 5px/5px 55px 25px 25px;
// }

// .carousel-item {
//   display: flex;
//   flex-direction: column;
//   text-align: center;
//   justify-content: center;
//   height: 100%;
//   align-items: center;
//   padding: 0 2rem;
//   /* Overlay */
//   position: absolute;
//   top: 65px;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   border-radius: 25px 25px 55px 5px/5px 55px 25px 25px;
//   background-color: rgba(0, 0, 0, 0.4);
// }

img {
  width: 100%;
  height: auto;
}

.desktop {
  @media screen and (max-width: 960px) {
    display: none !important;
  }
}

.mobile {
  @media screen and (min-width: 959px) {
    display: none !important;
  }
}

.img-container {
  position: relative;
  width: 100%;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
}
