<div *ngIf="meal">
  <div class="row h-100 mb-4 w-100 mx-auto">
    <app-add-header [meal]="meal" class="col-sm-8 p-0"></app-add-header>
    <app-add-img class="col-sm-4 p-0"></app-add-img>
  </div>
  <div class="mb-4">
    <app-add-ingredients></app-add-ingredients>
  </div>
  <div class="mb-4">
    <app-add-instructions></app-add-instructions>
  </div>
  <app-add-keywords></app-add-keywords>
  <button class="btn btn-success mx-auto d-flex px-5 mb-5" (click)="onSubmit()">
    Ajouter
  </button>
</div>
