<form [formGroup]="instructionForm" class="row mx-auto">
  <input
    #instruction
    type="text"
    placeholder="Instruction"
    class="form-control col-sm-11"
    autocomplete="off"
    formControlName="instruction"
  />
  <button
    class="col-sm-1 btn btn-info d-flex justify-content-center"
    (click)="submitInstruction()"
  >
    <i class="far fa-plus-square"></i>
  </button>
</form>
<div
  *ngIf="getFormErrors('instruction')"
  class="d-block invalid-feedback col-sm"
>
  Veuillez entrer les Instructions de la recette
</div>

<div *ngIf="instructionList.length > 0">
  <ul [sortablejs]="instructionList" class="list-group row mx-auto">
    <li
      *ngFor="let instruction of instructionList"
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      <div class="d-flex align-items-center">
        <i class="fas fa-sort mr-3"></i>
        {{ instruction.instruction }}
      </div>

      <div>
        <span
          class="badge badge-pill badge-danger pointer"
          (click)="removeInstruction(instruction)"
        >
          <span aria-hidden="true">&times;</span>
        </span>
      </div>
    </li>
  </ul>
</div>
