p:hover {
  color: #ffc107;
  border-color: #ffc107 !important;
}

.instructions-title {
  font-size: 1.5rem;
  text-align: center;
  border-radius: 45px 15px 35px 5px/15px 5px 15px 65px;
  background-color: #fff;
}
