<form
  class="row mx-auto bg-info p-3 card d-flex"
  style="flex-direction: inherit;"
  [formGroup]="ingredientForm"
  (keyup.enter)="submitIngredient()"
>
  <div class="pr-2 w-50">
    <input
      id="typeahead-basic"
      type="text"
      class="form-control col-sm mb-1"
      formControlName="ingredient"
      [ngbTypeahead]="search"
      (selectItem)="itemSelected($event)"
      placeholder="Ingrédient"
    />
    <select class="custom-select py-2 col-sm" formControlName="ingType">
      <option value="" disabled selected hidden>Type</option>
      <option *ngFor="let type of typeArr; index as i" value="{{ i + 1 }}">{{
        type
      }}</option>
    </select>
  </div>
  <div class="w-50">
    <input
      autocomplete="off"
      type="text"
      class="form-control col-sm mb-1"
      placeholder="Quantité"
      formControlName="quantity"
    />
    <select class="custom-select py-2 col-sm" formControlName="unit">
      <option value="" disabled selected hidden>Unité</option>
      <option *ngFor="let unit of unitArr; index as i" value="{{ i + 1 }}">{{
        unit
      }}</option>
    </select>
  </div>
  <div
    *ngIf="getFormErrors('ingredient') || showError"
    class="dp-0 font-size-1 w-100"
  >
    <span class="badge badge-danger w-100"
      >Veuillez entrer les Ingredients de la recette</span
    >
  </div>
  <div class="w-100 text-right pt-2">
    <p
      (click)="submitIngredient()"
      class="pointer d-inline border-dark border-bottom"
    >
      Ajouter l'ingrédient <i class="far fa-plus-square"></i>
    </p>
  </div>
</form>

<div *ngIf="ingredientList.length > 0">
  <div *ngIf="classification === 'type'">
    <ul class="list-group row mx-auto flex-row">
      <li
        class="list-group-item d-flex justify-content-between align-items-center col-sm-6 col-md-4 col-lg-4"
        *ngFor="let ing of ingredientList"
      >
        {{ ing.ingredient | titlecase }}
        <div>
          <span class="badge badge-primary mr-2"
            >{{ ing.quantity }} {{ ing.unit }}</span
          >
          <span
            class="badge badge-pill badge-danger pointer"
            (click)="removeIngredient(ing)"
          >
            <span aria-hidden="true">&times;</span>
          </span>
        </div>
      </li>
    </ul>
  </div>
  <div *ngIf="classification === 'freeForm'">
    <ul class="list-group row mx-auto flex-row" [sortablejs]="meal.ingredients">
      <li
        *ngFor="let ing of meal.ingredients"
        class="list-group-item d-flex justify-content-between align-items-center col-sm-6 col-md-4 col-lg-4"
        [ngClass]="{
          'ingredient-legume': ing.ingType === 'légume',
          'ingredient-viande': ing.ingType === 'viande',
          'ingredient-poisson': ing.ingType === 'poisson',
          'ingredient-dairy': ing.ingType === 'produit laitier',
          'ingredient-fruit': ing.ingType === 'fruit',
          'ingredient-spice': ing.ingType === 'épice',
          'ingredient-autre': ing.ingType === 'autre'
        }"
      >
        <div>
          <i class="fas fa-sort mr-2"></i>{{ ing.ingredient | titlecase }}
        </div>
        <div>
          <span class="badge badge-primary mr-2">{{ ing.quantity }}</span>
          <span
            class="badge badge-pill badge-danger pointer"
            (click)="removeIngredient(ing)"
          >
            <span aria-hidden="true">&times;</span>
          </span>
        </div>
      </li>
    </ul>
  </div>
</div>
