/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import './bootstrap.min.css';

.pointer {
  cursor: pointer;
}

html,
body {
  background-color: #fbf2ea;
}

a {
  cursor: pointer;
}

.bg {
  &-light {
    background-color: #fbf2ea !important;
  }
}

.list {
  &-disabled {
    text-decoration: line-through;
    opacity: 0.7;
    filter: alpha(opacity=70);
  }
  &-odd {
    background-color: #ececec;
  }
}

.ingredient {
  &-legume {
    background-color: #d1ffd3;
  }
  &-viande {
    background-color: #febcbf;
  }
  &-poisson {
    background-color: #ffa4dc;
  }
  &-dairy {
    background-color: #ffffd8;
  }
  &-fruit {
    background-color: #d3eeff;
  }
  &-autre {
    background-color: #eaebff;
  }
}

.list-group-item {
  padding: 0.15rem 1.25rem;
}
