/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import './bootstrap.min.css';

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}

.carousel-control-next,
.carousel-control-prev {
  height: calc(100% - 60px);
  top: 60px;
  width: 10%;
}

.carousel-control-next-icon:after {
  content: '→';
  font-size: 55px;
  color: #17a2b8;
}

.carousel-control-prev-icon:after {
  content: '←';
  font-size: 55px;
  color: #17a2b8;
}
.carousel-item {
  /* Force to always be block */
  display: block !important;
  position: absolute;
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.6s;
  visibility: hidden;
}

.carousel-item.active {
  position: relative;
  transform: translateX(0%);
  visibility: visible;
  opacity: 1;
}

h1 {
  color: #17a2b8;
  // font-weight: bold;
  font-size: 5rem;
}

.pointer {
  cursor: pointer;
}

html,
body {
  background-color: #fbf2ea;
}

a {
  cursor: pointer;
}

.bg {
  &-light {
    background-color: #fbf2ea !important;
  }
}

.list {
  &-disabled {
    text-decoration: line-through;
    opacity: 0.7;
    filter: alpha(opacity=70);
  }
  &-odd {
    background-color: #ececec;
  }
}

.ingredient {
  &-legume {
    background-color: #d1ffd3;
  }
  &-viande {
    background-color: #febcbf;
  }
  &-poisson {
    background-color: #ffa4dc;
  }
  &-dairy {
    background-color: #ffffd8;
  }
  &-fruit {
    background-color: #d3eeff;
  }
  &-autre {
    background-color: #eaebff;
  }
}

.list-group-item {
  padding: 0.15rem 1.25rem;
}
