.img-height {
  height: 200px;
  width: auto;
  margin: auto;
  display: block;
}

.img {
  &-responsive {
    @media screen and (max-width: 576px) {
      margin-bottom: 1rem;
    }
  }
}

.instruction {
  &-show {
    width: 100%;
  }
  &-divider {
    &-not-last {
      border-right: 2px solid #333;
    }
  }
}

.bg-white {
  background-color: #fff;
}

.divider {
  height: 1px;
  border: 1px solid #333;
}

@media screen and (min-width: 769px) {
  .mobile {
    display: none !important;
  }
  .justify-content-responsive {
    justify-content: space-between;
  }
  .text-responsive {
    display: inline;
  }
}

@media screen and (max-width: 768px) {
  .desktop {
    display: none !important;
  }
  .justify-content-responsive {
    justify-content: center;
  }
  .button-responsive {
    display: flex;
    justify-content: center;
  }
  .text-responsive {
    display: block;
  }
  .form-responsive {
    display: block;
    width: 100%;
  }
  .button-size-responsive {
    width: 100%;
  }
}
