<div *ngIf="meal">
  <app-meal-header
    [meal]="meal"
    (deleteModalEvent)="modalDelete()"
    (modificationModalEvent)="changeToModification()"
  ></app-meal-header>

  <div class="">
    <div class="row mx-auto">
      <div *ngIf="meal.image" class="col-md-6 mb-md-0 mb-3 p-0">
        <app-meal-image [meal]="meal"></app-meal-image>
      </div>
      <div [ngClass]="meal.image ? 'col-md-6' : 'col-md-12'" class="p-0">
        <div [ngClass]="{ 'mt-5': !meal.image }">
          <h3 class="d-inline-block mt-md-0 mt-5 mr-5">
            Ingredients:
          </h3>
          <form class="d-inline-block" [formGroup]="form">
            <select class="custom-select" formControlName="classification">
              <option value="type">Par type</option>
              <option value="freeForm">Format Libre</option>
            </select>
          </form>
        </div>
        <app-meal-ingredients
          [classification]="classification.value"
          [meal]="meal"
        ></app-meal-ingredients>
      </div>
    </div>
    <h3 class="mt-5">Instructions:</h3>
    <app-meal-instructions [meal]="meal"></app-meal-instructions>
    <app-meal-footer
      [meal]="meal"
      (deleteModalEvent)="modalDelete()"
      (modificationModalEvent)="changeToModification()"
    ></app-meal-footer>
  </div>

  <!-- Print Templates -->
  <app-print-with-image
    [hidden]="true"
    id="print-section-with-pic"
    [meal]="meal"
  ></app-print-with-image>
  <app-print-without-image
    [hidden]="true"
    id="print-section"
    [meal]="meal"
  ></app-print-without-image>
</div>
