<div
  class="h-100 row mx-auto img-thumbnail justify-content-center"
  [ngClass]="{
    'align-items-end': !croppedImg,
    'align-items-center': croppedImg
  }"
>
  <div
    style="position:relative; text-align: center;"
    [ngClass]="{ 'img-hover': croppedImg }"
  >
    <img
      style="border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;"
      [ngClass]="{ 'img-wrapper': croppedImg }"
      src="{{ croppedImg }}"
      alt=""
    />
    <div
      (mouseenter)="showRefresh(true)"
      (mouseleave)="showRefresh(false)"
      [ngClass]="{ 'img-overlay': croppedImg }"
    >
      <button *ngIf="!croppedImg" class="btn btn-info" (click)="open()">
        Importer une image
      </button>
      <button *ngIf="croppedImg && displayRefresh" class="btn btn-link">
        <i class="fas fa-sync fa-2x" (click)="open()"></i>
      </button>
    </div>
  </div>
</div>
