<div class="h-100 img-thumbnail mx-auto">
  <div
    *ngIf="croppedImg"
    class="img-dark-overlay h-100 justify-content-center align-items-end"
  >
    <button class="btn btn-link">
      <i class="far fa-trash-alt fa-2x text-info" (click)="delete()"></i>
    </button>
    <button class="btn btn-link">
      <i class="fas fa-sync fa-2x text-info" (click)="open()"></i>
    </button>
  </div>

  <div
    class="d-flex justify-content-center align-items-center h-100 text-center"
  >
    <img
      *ngIf="croppedImg"
      style="border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;"
      [ngClass]="{ 'img-wrapper': croppedImg }"
      src="{{ croppedImg }}"
      alt=""
    />
    <div class="h-100 d-flex justify-content-center align-items-end">
      <button *ngIf="!croppedImg" class="btn btn-info mb-3" (click)="open()">
        Importer une image
      </button>
    </div>
  </div>
</div>
