.jumbotron {
  background: #333 url('../assets/restaurant-banner-background-6.jpg') no-repeat
    center center/cover;
  height: calc(100vh - 16px);
  color: #f4f4f4;
  margin-bottom: 0;
  border-radius: 25px 25px 55px 5px/5px 55px 25px 25px;
}

.jumbotron .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100%;
  align-items: center;
  padding: 0 2rem;
  /* Overlay */
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 25px 25px 55px 5px/5px 55px 25px 25px;
  background-color: rgba(0, 0, 0, 0.4);
}

.navbar {
  z-index: 1;
  &-home {
    position: absolute !important;
    width: 100% !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
  }
}

h1 {
  color: #17a2b8;
  // font-weight: bold;
  font-size: 5rem;
}
