<div class="v-100">
  <app-navbar [ngClass]="iAmAtHome() ? 'navbar-home' : ''"></app-navbar>
  <div class="" [ngClass]="iAmAtHome() ? '' : 'container mt-3'">
    <div [@triggerName]="prepareRoute(outlet)">
      <div class="loading-screen-wrapper" *ngIf="loading">
        <h1>Cooking in progress..</h1>

        <div class="sk-folding-cube">
          <div class="sk-cube1 sk-cube"></div>
          <div class="sk-cube2 sk-cube"></div>
          <div class="sk-cube4 sk-cube"></div>
          <div class="sk-cube3 sk-cube"></div>
        </div>
      </div>
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </div>
</div>
