<form class="row mx-auto w-100" [formGroup]="nameForm">
  <div class="col-sm-9 p-0 mb-2">
    <input
      #name
      autocomplete="off"
      type="text"
      class="form-control"
      placeholder="Nom de la Recette"
      formControlName="name"
      [ngClass]="{
        'is-invalid':
          (name.invalid && (name.dirty || name.touched)) ||
          getFormErrors('name')
      }"
      (keyup)="setShowToFalse('name')"
    />
    <div
      *ngIf="
        (name.invalid && (name.dirty || name.touched)) || getFormErrors('name')
      "
    >
      <span class="badge badge-danger w-100 px-0 d-block"
        >Veuillez entrer le nom de la Recette</span
      >
    </div>
  </div>
  <div class="col-sm-3 pl-sm-2 px-0 mb-2">
    <select
      class="custom-select py-2 col-sm"
      formControlName="portion"
      [ngClass]="{
        'is-invalid': getFormErrors('portion')
      }"
      (change)="setShowToFalse('portion')"
    >
      <option value="" disabled selected hidden>Portion</option>
      <option
        *ngFor="let port of [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]"
        value="{{ port }}"
        >{{ port }} pers.</option
      >
    </select>
    <div *ngIf="getFormErrors('portion')" class="w-100">
      <span class="badge badge-danger w-100 px-0 d-block">Portion requise</span>
    </div>
  </div>

  <div class="col-sm p-0 mb-2">
    <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
      <label
        [ngClass]="{
          active: type.value === '1',
          'btn-outline-danger': getFormErrors('type'),
          'btn-outline-info': !getFormErrors('type')
        }"
        class="btn"
      >
        <input
          type="radio"
          value="1"
          autocomplete="off"
          formControlName="type"
          (click)="setShowToFalse('type')"
        />Entrée
      </label>
      <label
        [ngClass]="{
          active: type.value === '2',
          'btn-outline-danger': getFormErrors('type'),
          'btn-outline-info': !getFormErrors('type')
        }"
        class="btn"
      >
        <input
          type="radio"
          value="2"
          autocomplete="off"
          formControlName="type"
          (click)="setShowToFalse('type')"
        />Principal
      </label>
      <label
        [ngClass]="{
          active: type.value === '3',
          'btn-outline-danger': getFormErrors('type'),
          'btn-outline-info': !getFormErrors('type')
        }"
        class="btn"
      >
        <input
          type="radio"
          value="3"
          autocomplete="off"
          formControlName="type"
          (click)="setShowToFalse('type')"
        />Dessert
      </label>
    </div>
    <div *ngIf="getFormErrors('type')">
      <span class="badge badge-danger w-100 px-0 d-block"
        >Veuillez choisir un Catégorie</span
      >
    </div>
  </div>

  <div class="col-sm-12 p-0 mb-2">
    <textarea
      class="form-control"
      rows="4"
      formControlName="description"
      placeholder="Description"
      [ngClass]="{
        'is-invalid':
          (description.invalid && (description.dirty || description.touched)) ||
          getFormErrors('description')
      }"
      (keyup)="setShowToFalse('description')"
    ></textarea>
    <div
      *ngIf="
        (description.invalid && (description.dirty || description.touched)) ||
        getFormErrors('description')
      "
      class="w-100"
    >
      <span class="badge badge-danger w-100 px-0 d-block"
        >Veuillez entrer une Description pour la recette</span
      >
    </div>
  </div>
</form>
