<form
  [formGroup]="keywordForm"
  [ngClass]="{
    'mb-3': keywordsList.length === 0,
    'mb-1': 'keywordsList.length > 0'
  }"
  class="p-3 bg-info card"
>
  <input
    #keyword
    type="text"
    placeholder="Mots clés"
    class="form-control w-100"
    autocomplete="off"
    formControlName="keyword"
    (keyup.enter)="submitKeyword()"
  />
  <div class="pt-2 w-100 text-right">
    <p
      (click)="submitKeyword()"
      class="pointer d-inline border-dark border-bottom"
    >
      Ajouter l'instruction <i class="far fa-plus-square"></i>
    </p>
  </div>
  <!-- <button
    class="col-sm-1 btn btn-info d-flex justify-content-center"
    (click)="submitKeyword()"
  >
    <i class="far fa-plus-square"></i>
  </button> -->
</form>

<div class="d-flex mb-3">
  <span
    class="badge badge-pill badge-info mr-2 pointer px-4 py-2"
    *ngFor="let keyword of keywordsList"
    (click)="removeKeyword(keyword)"
    >{{ keyword }}</span
  >
</div>
