<div class="col-md-12 p-0">
  <div *ngFor="let instructionList of instructionListGrouped(); index as i">
    <h3 class="text-center mb-0" [ngClass]="{ 'mt-1': i > 0 }">
      {{ instructionListGrouped()[i][0].title }}
    </h3>
    <ul class="list-group row mx-auto" [sortablejs]="instructionList">
      <li
        *ngFor="let instruction of instructionList"
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        <div class="d-flex align-items-center">
          <i class="fas fa-sort mr-3"></i>
          {{ instruction.instruction }}
        </div>
        <!-- <div>
          <span class="badge badge-pill badge-info pointer mr-2">
            <span aria-hidden="true"><i class="fas fa-edit"></i></span>
          </span>
          <span class="badge badge-pill badge-danger pointer">
            <span aria-hidden="true"><i class="fas fa-trash-alt"></i></span>
          </span>
        </div> -->
      </li>
    </ul>
  </div>
</div>
