<div>
  <h1 *ngIf="id !== 'all'" class="text-center text-success">{{ id }}</h1>
  <form *ngIf="id !== 'recherche'" autocomplete="off">
    <input
      type="text"
      placeholder="recherche"
      class="w-100 py-2 px-2 mb-3"
      [ngModel]="query"
      (ngModelChange)="changed($event)"
      name="query"
    />
  </form>
  <div *ngIf="selectedMeals.length > 0">
    <ul class="list-group row mx-auto flex-row mb-3">
      <li
        class="list-group-item col-sm-6 col-md-6 col-lg-4 pointer"
        *ngFor="let meal of selectedMeals"
        (click)="getMeal(meal)"
        [ngClass]="{ selected: checkIfSelected(meal) }"
      >
        <div [ngClass]="{ 'ml-5': toBook }">
          <input
            *ngIf="toBook && checkIfSelected(meal)"
            class="form-check-input"
            type="checkbox"
            checked=""
          />
          <input
            *ngIf="toBook && !checkIfSelected(meal)"
            class="form-check-input"
            type="checkbox"
          />
          <span>
            {{ getName(meal.name) }}
          </span>
        </div>
      </li>
    </ul>
  </div>
</div>
